<% url_form = @user.new_record? ? admin_users_path : admin_user_path(id: user) %>
<%= form_for(@user, url: url_form, html: { class: "form-user open-loading-submit", role: "form"}) do |f| %>
  <div class="form-group mt-3">
    <label><%= t('general.name') %>:</label>
    <%= f.text_field :name, class: "form-control", type: "text", placeholder: t('general.name') %>
  </div>
  <div class="form-group mt-3">
    <label>E-mail:</label>
    <%= f.text_field :email, class: "form-control", type: "text", placeholder: "email" %>
  </div>
  <div class="form-group mt-3">
    <label><%= t('activerecord.attributes.user.password') %>:</label>
    <%= f.password_field :password, class: "form-control", type: "text", placeholder: t('activerecord.attributes.user.password') %>
  </div>
  <div class="form-group mt-3">
    <label><%= t('activerecord.attributes.user.password_confirmation') %>:</label>
    <%= f.password_field :password_confirmation, class: "form-control", type: "text", placeholder: t('activerecord.attributes.user.password_confirmation') %>
  </div>
  <div class="form-group mt-3">
    <label><%= t('table.type') %>:</label>
    <% type = [[t('activerecord.attributes.user.user_types.user'), :user], [t('activerecord.attributes.user.user_types.admin'), :admin]] %>
    <%= f.select :user_type, type,class: "form-control input-sm", type: "text", placeholder: t('table.type') %>
  </div>
  <div class="form-group mt-3">
    <%= f.submit t('btn.save'), class: "btn btn-sm btn-primary pull-right m-t-n-xs", value: t('btn.save') %>
  </div>

  <div class="clearfix"></div>
<% end %>