<div>
  <a class="px-2" href="https://www.linkedin.com/company/nucleusapp" target="_blank"><%= fa_icon("linkedin") %></a>
  <a class="px-2" href="https://www.instagram.com/nucleusapp/" target="_blank"><%= fa_icon("instagram") %></a>
  <a class="px-2" href="https://wa.me/554799999709" target="_blank" height="auto"> <%= fa_icon("whatsapp") %> </a>
</div>
<bloquote class="">
  <small> <b>Copyright</b>
    <a href="https://appnucleus.com.br/">Nucleus</a>
    <%= Time.current.year %>&copy; - <%= t('general.copyright') %>
  </small>
</bloquote>