<b class="logo-icon"><%= image_tag('logo.png', width:'80', alt:'Nucleus') %></b>
<div class="ms-3 col-lg-4 col-md-4 col-xs-4">

  <nav>
    <ul class="nav flex nav-pills">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link #{"active" if params[:controller] == "home" && params[:action] == "index" }" %>
      </li>
      <li class="nav-item">
        <%= link_to t('title.posts'), posts_path, class: "nav-link #{"active" if params[:controller] == "admin/posts" || params[:controller] == "posts"}" %>
      </li>
      <li class="nav-item"> <%# FIXME! %>
        <%= link_to t('general.contact'), home_contact_path, class: "nav-link #{"active" if params[:action] == "contact"}" %>
      </li>
    </ul>
  </nav>
  <a class="nav-toggler waves-effect d-block d-md-none" href="javascript:void(0)"> <i class="ti-menu ti-close"></i> </a>
</div>

<div class="navbar-collapse collapse" id="">
  <div class="navbar-nav ms-auto">
    <div class=" in">
      <% if params[:action] == "index" && params[:controller] == "admin/users" || params[:controller] == "admin/posts" || params[:controller] == "posts" %>
        <form role="search" class="app-search d-none d-md-block me-2">
          <%= get_filter %> <a href="" class="active"> <i class="fa fa-search me-4"></i> </a>
        </form>
      <% end %>
    </div>
  </div>

  <div class="col-lg-1">
    <div class="dropdown">
      <div class="btn-group">
        <button class="btn btn-secondary">
        <span>
          <% if current_user.nil? %>
            <span>Login</span>
          <% else %>
            <img src="<%= image_path("user-solid.svg") %>" alt="user-img" width="20" class="img-circle">
          <% end %>
        </span>
        </button>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <%= fa_icon("caret-down") %>
        </button>
        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
          <% if signed_in? %>
            <li class="ps-3"><%= current_user&.name.split.first %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, class: 'dropdown-item', method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign in", "/users/sign_in", class: 'dropdown-item' %></li>
            <li><%= link_to "Sign up", "/users/sign_up", class: 'dropdown-item' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>