<nav>
  <div class="border border-2 p-2 bg-gray">
    <h5 class="ms-2"><%= t('activerecord.attributes.post.category.other') %></h5>
    <ul class="nav flex-column nav-pills">
      <li class="nav-item">
        <%= link_to t('activerecord.attributes.post.categories.technology'),
                    categories_path(category: "Tecnologia"), class: "nav-link #{"active" if params[:category] == "Tecnologia"}"
        %>
      </li>
      <li class="nav-item">
        <%= link_to t('activerecord.attributes.post.categories.financial'),
                    categories_path(category: "Financeiro"), class: "nav-link #{"active" if params[:category] == "Financeiro"}"
        %>
      </li>
      <li class="nav-item">
        <%= link_to t('activerecord.attributes.post.categories.graphic'),
                    categories_path(category: "Gráfica"), class: "nav-link #{"active" if params[:category] == "Gráfica"}"
        %>
      </li>
      <li class="nav-item">
        <%= link_to t('activerecord.attributes.post.categories.culture'),
                    categories_path(category: "Cultura"), class: "nav-link #{"active" if params[:category] == "Cultura"}"
        %>
      </li>
    </ul>
  </div>
  <div class="mt-4 border border-2 p-2 bg-gray">
    <h5 class="ms-2"><%= t('post.top') %></h5>
    <ul>
      <li class="nav-item mb-5">
        <% i = 0 %>
        <% post_categories.each do |c| %>
          <div class="ps-2 py-1">
            <span class="h5 font-bold"><%= i+=1 %> &#160;</span>
            <span><%= c.title %></span>
            <p><small style="color: lightslategray"><%= l(c.created_at, format: :default_short) %></small></p>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</nav>