<div class="text-purple d-flex justify-content-between align-items-center">
  <h1 class="mt-4"><%= t('title.posts') %></h1>
  <%= link_to new_model, new_post_path, class: 'btn btn-primary mt-3' %>
</div>
<hr class="post-title margin-hr">
<table class="table table-stripped">
  <thead>
    <tr class="align-items-center">
      <th><%= t('activerecord.attributes.post.title') %></th>
      <th><%= t('activerecord.attributes.post.body') %></th>
      <th><%= t('activerecord.attributes.post.category.one') %></th>
      <th><%= t('activerecord.attributes.post.top') %></th>
      <th><%= t('post.author') %></th>
      <th class="ps-3"><%= t('table.status') %></th>
      <th class="text-center"><%= t('general.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% if @posts.count > 0 %>
      <% @posts.each do |post| %>
        <tr>
          <td><%= truncate(post&.title, length: 30) %></td>
          <td><%= truncate(post&.body, length: 30) %></td>
          <td><%= post&.category %></td>
          <td><%= post&.top %></td>
          <td><%= link_to post.user.name.nil? ? post.user&.email : post.user&.name.split.first, admin_user_path(post.user), class: 'text-purple' %></td>
          <td>
            <span class="<%= badge_color(post&.status) %>">
              <%= t("activerecord.attributes.statuses.#{post.status}") unless post.status.nil?%>
            </span>
          </td>
          <td class="right">
            <%= link_to fa_icon("eye"), post_path(post), class: "btn btn-xs btn-success" %>
            <%= link_to fa_icon("edit"), edit_post_path(post), class: "btn btn-xs btn-primary" %>
            <%= link_to fa_icon("trash"), post_path(post), class: "btn btn-xs btn-danger", method: :delete, data: { confirm: t('confirm.destroy') } %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="10"> <p class="bg-info" style="padding:5px; margin:0;"><%= t('general.no_register_found') %></p> </td>
      </tr>
    <% end %>
  </tbody>

</table>
<div class="d-flex justify-content-end">
  <div class="style-pagination">
    <%= will_paginate @posts, previous_label: fa_icon('angle-left', text: t('will_paginate.prev')), next_label: t('will_paginate.next', icon: fa_icon('angle-right')) %>
  </div>
</div>