<h1 class="mt-4">BLOG</h1>
<!--<hr class="post-title margin-hr">-->
<table class="table table-stripped">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.post.title') %></th>
      <th><%= t('activerecord.attributes.post.body') %></th>
      <th><%= t('post.author') %></th>
      <th colspan="3"><%= t('general.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post&.title %></td>
      <td><%= truncate(post&.body, length: 300) %></td>
      <td><%= link_to post.user.name.nil? ? post.user&.email : post.user&.name, admin_user_path(post.user), class: 'text-purple' %></td>
      <td>teste</td>
    </tr>
  </tbody>
  <% end %>
</table>