<div class="mt-3 container d-flex justify-content-center">
  <div class="container blog col-lg-12 col-xs-12">
    <h1 class="mt-4">BLOG</h1> <hr class="post-title margin-hr">
    <table class="table table-stripped">
      <thead>
        <tr class="align-items-center">
          <th><%= t('activerecord.attributes.post.title') %></th>
          <th><%= t('activerecord.attributes.post.body') %></th>
          <th><%= t('post.author') %></th>
          <th width="120px"><%= t('general.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <td><%= post&.title %></td>
          <td><%= truncate(post&.body, length: 250) %></td>
          <td><%= link_to post.user.name.nil? ? post.user&.email : post.user&.name, admin_user_path(post.user), class: 'text-purple' %></td>
          <td>
            <%= link_to fa_icon("eye"), admin_post_path(post), class: "btn btn-sm btn-success" %>
            <%= link_to fa_icon("edit"), edit_admin_user_path(post), class: "btn btn-sm btn-primary" %>
            <%= link_to fa_icon("trash"), admin_post_path(post), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: t('confirm.destroy') } %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>