<div class="mt-3 container d-flex justify-content-center">
  <div class="container blog col-lg-9 col-md-10 col-sm-12 col-xs-12">
    <h1><%= t('activerecord.models.post') %></h1>
    <% @posts.each do |post| %>
      <tr>
        <p><%= post&.title %></p>
        <p><%= post&.body %></p>
<!--        <p><%#= post.user&.name %></p>-->
        <span><%= link_to t('general.show'), post %></span>
        <span><%= link_to t('general.edit'), edit_post_path(post) %></span>
        <span><%= link_to t('general.delete'), post, method: :delete, data: { confirm: t('general.messages.confirm') } %></span>
      </tr>
    <% end %>
    <%= link_to new_model, new_post_path %>
  </div>
</div>


