  <%# unless signed_in? %>
  <%#= link_to 'Fazer login', new_user_session_path %>
  <%# else %>
  <!--          <h1>Voce está logado</h1>-->
  <%#= link_to 'Sair', destroy_user_session_path, method: :delete %>
  <%# end %>
  <!--        <li>-->
  <%#= link_to "Minha conta", admin_user_path(@current_user), class: "dropdown-item" %>
  <!--        </li>-->
  <!--        <li>-->
  <%#= link_to "Sair", logout_admin_users_url, class: "dropdown-item"%>
  <!--        </li>-->

  <!--      </ul>-->
<h1>Blog</h1>

<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.name %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Post', new_post_path %>

