<h1 class="mt-4">BLOG</h1> <hr class="post-title margin-hr">
<%= link_to "teste ordenação", posts_path(order: "created_at DESC") %> <br> <%= params[:order] %>
<% @posts.each do |post| %>
<div>
  <p><%= post&.title %></p>
  <span>
    <%= truncate(post&.body, length: 300) %><br>
    <%= link_to t('post.see_more'), post, class: 'text-purple' %>
  </span>
  <span class="pull-right">
    <%= t('post.author') %>: <%= link_to post.user.name.nil? ? post.user&.email : post.user&.name, '#', class: 'text-purple' %>
  </span>
  <br>
  <p><hr class="post margin-hr"></p>
</div>
  <% if signed_in? && current_user.user_type == :admin %>
    <h2><%= link_to 'Edit', edit_post_path(post) %></h2>
    <h2><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></h2>
  <% end %>
<% end %>
<div class="d-flex justify-content-end">
  <div class="style-pagination">
    <%= will_paginate @posts, previous_label: fa_icon('angle-left', text: t('will_paginate.prev')), next_label: t('will_paginate.next', icon: fa_icon('angle-right')) %>
  </div>
</div>
<%= link_to 'New Post', new_post_path if signed_in? %>