<div class="mt-3 container d-flex justify-content-center">
  <div class="container blog col-lg-9 col-md-10 col-sm-12 col-xs-12">
    <h1><%= t('activerecord.models.post') %></h1>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.name %></td>
        <td><%= link_to t('general.show'), post %></td>
        <td><%= link_to t('general.edit'), edit_post_path(post) %></td>
        <td><%= link_to t('general.delete'), post, method: :delete, data: { confirm: t('general.messages.confirm') } %></td>
      </tr>
    <% end %>
  </div>
</div>

<%= link_to new_model, new_post_path %>

