<% url_back = current_user.user_type == "admin" ? admin_posts_path : posts_path %>
<div class="mt-3 container d-flex justify-content-center">
  <div class="container blog col-lg-9 col-md-10 col-sm-12 col-xs-12">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="mt-4">BLOG <%= fa_icon('angle-right', text: @post&.id) %></h1>
      <%= link_to t('comment.back'), url_back, class: 'btn btn-dark  text-white' %>
    </div>
    <hr class="post-title margin-hr">

    <%#= link_to "teste ordenação", posts_order_by_posts_path(order: "created_at DESC"), remote: true %>
    <!--    <br> order params <%#= params[:order] %>-->
    <h3 class="col-lg-12 col-md-6 col-xs-6"> <%= @post&.title %> </h3>
    <p class="col-lg-12 col-md-6 col-xs-6"> <%= nl2br @post&.body %> </p>
    <p>
      <strong><%= t('table.status') %>:</strong>
      <%= @post.status %>
    </p>
    <span class="pull-right small">
          <%= t('post.author') %>: <%= link_to @post.user.name.nil? ? @post.user&.email : @post.user&.name, root_path, class: 'text-purple' unless @post.nil?%>
    </span>
    <br>
    <p> <hr class="post margin-hr"> </p>
    <div class="d-flex justify-content-between">
      <h4><%= @post.comments&.count %> <%= @post&.comments.model_name.human(count: @post&.comments.count).upcase %></h4>
      <span class="small"><%= link_to "#" do %>
        <%= t('general.newest') %>
        <%= fa_icon('angle-down') %>
        <% end %>
      </span>
    </div>
    <%= render 'posts/partials/comments', comments: @comments %>
    <%= render 'posts/partials/new_comment' %>
    <hr>
  </div>
</div>
