<div class="d-flex justify-content-between align-items-center">
  <div>
    <h1 class="mt-4 h2"><%= t('activerecord.models.user.other') %></h1>
    <hr class="post-title margin-hr">
  </div>
  <%= link_to t('general.new_model', model: t('activerecord.models.user.one')), new_admin_user_path, class: 'btn btn-primary btn-sm' %>
</div>
<table class="table table-stripped">
  <thead>
    <tr class="align-items-center">
      <th><%= t('general.name') %></th>
      <th><%= t('activerecord.attributes.user.email') %></th>
      <th><%= t('activerecord.attributes.user.user_type') %></th>
      <th class="text-center" width="120px"><%= t('general.actions') %></th>
    </tr>
  </thead>
  <tbody>
  <% if @users.count > 0
    @users.each do |user| %>
    <tr>
      <td><%= user&.name %></td>
      <td><%= user&.email %></td>
      <td><%= t("activerecord.attributes.user.user_types.#{user.user_type}") %></td>
      <td class="right">
        <%= link_to fa_icon("eye"), admin_user_path(user), class: "btn btn-xs btn-success" %>
        <%= link_to fa_icon("edit"), edit_admin_user_path(user), class: "btn btn-xs btn-primary" %> <%# todo! %>
        <%= link_to fa_icon("trash"), admin_user_path(user), class: "btn btn-xs btn-danger", method: :delete, data: { confirm: t('confirm.destroy') } %>
      </td>
    </tr>
    <% end %>
    </tbody>
  <% else %>
    <tr>
      <td colspan="10"> <p class="bg-info" style="padding:5px; margin:0;"><%= t('general.no_register_found') %></p> </td>
    </tr>
  <% end %>
</table>
<div class="d-flex justify-content-end">
  <div class="style-pagination">
    <%= will_paginate @users, previous_label: fa_icon('angle-left', text: t('will_paginate.prev')), next_label: t('will_paginate.next', icon: fa_icon('angle-right')) %>
  </div>
</div>