<h1 class="mt-4"><%= t('activerecord.models.user.other') %></h1> <hr class="post-title margin-hr">
<%= link_to t('general.new_model', model: t('activerecord.models.user.one')), new_admin_user_path %>
<table class="table table-stripped">
  <thead>
    <tr class="align-items-center">
      <th><%= t('general.name') %></th>
      <th><%= t('activerecord.attributes.user.email') %></th>
      <th><%= t('activerecord.attributes.user.user_type') %></th>
      <th width="120px"><%= t('general.actions') %></th>
    </tr>
  </thead>
  <tbody>
  <% if @users.count > 0
    @users.each do |user| %>
    <tr>
      <td><%= user&.name %></td>
      <td><%= truncate(user&.email, length: 10) %></td>
      <td><%= t("activerecord.attributes.user.user_types.#{user.user_type}") %></td>
      <td>
        <%= link_to fa_icon("eye"), admin_user_path(user), class: "btn btn-sm btn-success" %>
        <%= link_to fa_icon("edit"), edit_admin_user_path(user), class: "btn btn-sm btn-primary" %> <%# todo! %>
        <%= link_to fa_icon("trash"), admin_user_path(user), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: t('confirm.destroy') } %>
      </td>
    </tr>
    <% end %>
    </tbody>
  <% else %>
    <tr>
      <td colspan="10"> <p class="bg-info" style="padding:5px; margin:0;"><%= t('general.no_register_found') %></p> </td>
    </tr>
  <% end %>
</table>